<app-maincontainer>
  <div class="container">
		<div class="col-md-12">
			<div class="card">
				<div class="preview col-md-6">
					<!--<div class="preview-pic tab-content">
						<div class="tab-pane active" id="pic-1"></div>
					</div>	-->
					<img src="assets/img/c1.jpg" />
					<hr>
					<table class="blueTable">
						<thead>
							<tr>
								<th>Métrica</th>
								<th>Valor</th>
							</tr>
						</thead>
						<tr *ngFor="let m of mMeasure">
							<td>{{m.metric}}</td>
							<td>{{m.value | uppercase }}</td>
						</tr>
					</table>
				</div>
				<div class="details col-md-6">
					<h3 class="product-title">{{proys.title}}</h3>
					<!--<div class="rating">
						<div class="stars">
							<span class="fa fa-star checked"></span>
							<span class="fa fa-star checked"></span>
							<span class="fa fa-star checked"></span>
							<span class="fa fa-star checked"></span>
							<span class="fa fa-star"></span>
						</div>
						<span class="review-no">7 descargas</span>
					</div>-->
					<p class="product-description">{{proys.description}}</p>
					<h4 *ngIf="!isBought" class="price">Obtener: <span>{{proys.price}} </span><img id="sp" src="assets/img/sp.png"></h4>
						<!--<h5 class="sizes">sizes:
							<span class="size" data-toggle="tooltip" title="small">s</span>
							<span class="size" data-toggle="tooltip" title="medium">m</span>
							<span class="size" data-toggle="tooltip" title="large">l</span>
							<span class="size" data-toggle="tooltip" title="xtra large">xl</span>
			</h5>-->
					<h5 class="sizes"></h5>
					<div class="action">
						<button *ngIf="!isBought" class="btn btn-primary" type="button" data-toggle="modal" data-dismiss="modal" data-target="#newBuy" (click)="obtener()" >Obtener</button>
						<button *ngIf="isBought" routerLink="/proyectDetails/{{proyId}}" class="btn btn-primary" type="button">Ver</button>
						<!--<button class="btn btn-simple btn-icon" (click)="verGraficas(this.sID)" title="Más información"><i class="fa fa-line-chart"></i></button>-->
					</div>
					<br>
					<button class="btn btn-secondary" type="button" (click)="verGraficas(this.sID)">Ver más información</button>
				</div>
			</div>
		</div>
	</div>
<app-buyproyect (buyproyectEvent)="transaccionExitosa()"></app-buyproyect>
<div class="loader" *ngIf="blockLoader"></div>
</app-maincontainer>
