<app-maincontainer>
    <div class="main-content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <div class="header">
                        <div class="header_left">
                            <h4 class="title">Notificaciones</h4>
                            <p class="category">Todas las acciones realizadas</p>
                        </div>
                        </div>
                        <div class="content table-responsive table-full-width"> 
                        <table id="myTable" class="table table-hover table-striped">
                                <thead>
                                    <tr id="forFilters">
                                        <th>Tipo</th>                           
                                        <th>Descripcion</th>
                                        <th>Fecha</th>                           
                                    </tr>
                                </thead>
                            <tbody *ngIf="movimentes!=undefined">
                                <tr *ngFor="let row of movimentes; let i = index">
                                    <td>{{row.type}}</td>
                                    <td>{{row.description}}</td>
                                    <td style="text-align:center">{{row.fechaModificacion | date:'mediumDate'}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="loader" *ngIf="blockLoader"></div>
</app-maincontainer>