<app-maincontainer>
<div>
    <div class="main-content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <div class="header">
                            <div class="header_left">
                            <h4 class="title">Proyectos Actuales</h4>
                            <p class="category"><i class="fa fa-window-maximize"></i> Tablero kanban del proyecto</p>
                            </div>
                            <div class="header_right">
                            <button class="btn btn_large" data-toggle="modal" data-target="#newProyecto"><i class="fa fa-plus"></i> Crear Nuevo Proyecto</button>
                            <button class="btn btn_large" data-toggle="modal" data-target="#uploadProyecto" (click)="resetFiles()"><i class="fa fa-cloud-upload"></i> Subir Archivos</button>
                            </div>
                        </div>
                        <div class="content table-responsive table-full-width">
                                <table class="table table-hover table-striped">
                                    <thead>
                                        <tr>
                                            <th *ngFor="let cell of tableData1.headerRow">{{ cell }}</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let row of proyectos; let i = index">
                                            <td>{{i+1}}</td>
                                            <td>{{row.title}}</td>
                                            <td>{{row.fechaModificacion}}</td>
                                            <td>{{row.status}}</td>
                                            <td>
                                                <button class="btn btn-simple btn-icon" (click)="verKanban(row.id)"><i class="fa fa-check-square-o"></i></button>
                                                <button class="btn btn-simple btn-icon" (click)="verDetalle(row.id)"><i class="fa fa-eye"></i></button>
                                                <button class="btn btn-simple btn-icon" data-toggle="modal" data-dismiss="modal" data-target="#newProyecto" (click)="editar(row.id)" ><i class="fa fa-edit"></i></button>
                                                <button class="btn btn-simple btn-icon" data-toggle="modal" data-target="#uploadProyecto" (click)="resetFiles()"><i class="fa fa-cloud-upload"></i></button>
                                                <button class="btn btn-simple btn-icon"><i class="fa fa-refresh"></i></button>
                                                <button class="btn btn-simple btn-icon" data-toggle="modal" data-dismiss="modal" data-target="#deleteProyecto"><i class="fa fa-trash-o"></i></button>                                      
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<app-proyect (proyectEvent)="elementoGuardado()"></app-proyect>
</app-maincontainer>