<app-maincontainer>
<div class="main-content Kanban">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card header_kanban">
                    <div class="descripcion_proyect canvas_body" *ngIf="kanban.proyect">
                        <p class="title_canvas">{{kanban.proyect.title}} | Versión: {{kanban.proyect.version}}</p>
                        <p class="description_canvas">{{kanban.proyect.description}}</p>
                        <p class="description_canvas"><i class="fa fa-users"></i> Integrantes: 
                            <span *ngFor="let integrantes of kanban.users;let i=index;"> {{integrantes.name}} {{integrantes.fatherLastName}} / </span> 
                        </p>
                    </div>
                    <button class="btn btn_large back_white btn_k" data-toggle="modal" data-target="#newTarea" (click)="newHomework()"><i class="fa fa-plus"></i> Crear Nueva Tarea</button>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-block" align="center">
                        <div class="cabecerasKanban">
                            <div class="cabeceraK">
                                <span class="k_titulo">Por Hacer</span>
                            </div>
                            <div class="cabeceraK">
                                <span class="k_titulo">En Proceso</span>
                            </div>
                            <div class="cabeceraK">
                                <span class="k_titulo">Realizo</span>
                            </div>
                        </div>
                        <div class="estado" id="porHacer" (drop)="drop($event);soltar()" (dragover)="allowDrop($event)" [ngClass]="{'borde_drag':dragIn}">
                            <div *ngFor="let tarea of tareasPorHacer">
                                <div id="{{tarea.id}}" class="tareas porHacer" draggable="true" draggable="true" (dragstart)="drag($event);arrastrar(tarea)" data-toggle="modal" data-dismiss="modal" data-target="#newTarea" (click)="editar(tarea.id)">
                                    <div class="tarea" data-toggle="modal" data-target="#myTarea">
                                        {{tarea.title}}
                                        <div class="footerTarea">
                                            <div class="periodo">
                                                <i class="fa fa-clock-o m-r-10" aria-hidden="true"></i>{{tarea.registerDate | date:'dd MMM'}} - {{tarea.deliveryDate | date:'dd MMM'}}   
                                            </div>
                                            <div class="tareaResponsable">
                                                <span class="round round-primary roundSmall">{{tarea.assigned.name}} {{tarea.assigned.fatherLastName}}</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="estado" id="enProce" (drop)="drop($event);soltar()" (dragover)="allowDrop($event)" [ngClass]="{'borde_drag':dragIn}">
                            <div *ngFor="let tarea of tareasEnProceso">
                                <div id="{{tarea.id}}" class="tareas enProceso" draggable="true" draggable="true" (dragstart)="drag($event);arrastrar(tarea)" data-toggle="modal" data-dismiss="modal" data-target="#newTarea" (click)="editar(tarea.id)">
                                    <div class="tarea" data-toggle="modal" data-target="#myTarea">
                                        {{tarea.title}}
                                        <div class="footerTarea">
                                            <div class="periodo">
                                                <i class="fa fa-clock-o m-r-10" aria-hidden="true"></i>{{tarea.registerDate | date:'dd MMM'}} - {{tarea.deliveryDate | date:'dd MMM'}}   
                                            </div>
                                            <div class="tareaResponsable">
                                                <span class="round round-primary roundSmall">{{tarea.assigned.name}} {{tarea.assigned.fatherLastName}}</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="estado" id="realiza" (drop)="drop($event);soltar()" (dragover)="allowDrop($event)" [ngClass]="{'borde_drag':dragIn}">
                            <div *ngFor="let tarea of tareasRealizadas">
                                <div id="{{tarea.id}}" class="tareas Realizadas" draggable="true" draggable="true" (dragstart)="drag($event);arrastrar(tarea)" data-toggle="modal" data-dismiss="modal" data-target="#newTarea" (click)="editar(tarea.id)">
                                    <div class="tarea" data-toggle="modal" data-target="#myTarea">
                                        {{tarea.title}}
                                        <div class="footerTarea">
                                            <div class="periodo">
                                                <i class="fa fa-clock-o m-r-10" aria-hidden="true"></i>{{tarea.registerDate | date:'dd MMM'}} - {{tarea.deliveryDate | date:'dd MMM'}}   
                                            </div>
                                            <div class="tareaResponsable">
                                                <span class="round round-primary roundSmall">{{tarea.assigned.name}} {{tarea.assigned.fatherLastName}}</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<app-homework (homeworkEvent)="elementoGuardado()"></app-homework>
</app-maincontainer>