<div class="main-content Kanban">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <button class="btn btn_large back_white"><i class="fa fa-plus"></i> Crear Nueva Tarea</button>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-block" align="center">
                        <div class="cabecerasKanban">
                            <div class="cabeceraK">
                                <span class="k_titulo">Por Hacer</span>
                            </div>
                            <div class="cabeceraK">
                                <span class="k_titulo">En Proceso</span>
                            </div>
                            <div class="cabeceraK">
                                <span class="k_titulo">Realizo</span>
                            </div>
                        </div>
                        <div class="estado" id="porHacer" ondrop="drop(event)" ondragover="allowDrop(event)">
                            <div id="t0" class="tareas" draggable="true" ondragstart="drag(event)">
                                <div class="tarea" data-toggle="modal" data-target="#myTarea">
                                    Modificación de clases de retiro voluntario.
                                    <div class="footerTarea">
                                        <div class="periodo">
                                            <i class="fa fa-clock-o m-r-10" aria-hidden="true"></i>12 Nov - 30 Nov    
                                        </div>
                                        <div class="tareaResponsable">
                                            <span class="round round-primary roundSmall">CP</span>
                                            <span class="round round-warning roundSmall">CS</span>
                                            <span class="round round-danger roundSmall">AS</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div id="t1" class="tareas" draggable="true" ondragstart="drag(event)">
                                <div class="tarea" data-toggle="modal" data-target="#myTarea">
                                    Correccion de algoritmo de calculo de nomina por trabajador, horas vs actividades.
                                    <div class="footerTarea">
                                        <div class="periodo">
                                            <i class="fa fa-clock-o m-r-10" aria-hidden="true"></i>18 Nov - 02 Dic    
                                        </div>
                                        <div class="tareaResponsable">
                                            <span class="round round-success roundSmall">MT</span>
                                            <span class="round round-warning roundSmall">CS</span>
                                        </div>
                                    </div>
                                </div>
                            </div> 
                                <div id="t2" class="tareas" draggable="true" ondragstart="drag(event)">
                                <div class="tarea" data-toggle="modal" data-target="#myTarea">
                                    Eliminar estado de cuenta de la validacion del credito por titular.
                                    <div class="footerTarea">
                                        <div class="periodo">
                                            <i class="fa fa-clock-o m-r-10" aria-hidden="true"></i>30 Oct - 18 Nov    
                                        </div>
                                        <div class="tareaResponsable">
                                            <span class="round roundSmall">TH</span>
                                            <span class="round round-danger roundSmall">JB</span>
                                        </div>
                                    </div>
                                </div>
                            </div> 
                        </div>
                        <div class="estado" id="enProce" ondrop="drop(event)" ondragover="allowDrop(event)">
                            <div id="t3" class="tareas" draggable="true" ondragstart="drag(event)">
                                <div class="tarea" data-toggle="modal" data-target="#myTarea">
                                    Desarrollo de algoritmo de pension por contraro terminado a mayores de sesenta.
                                    <div class="footerTarea">
                                        <div class="periodo">
                                            <i class="fa fa-clock-o m-r-10" aria-hidden="true"></i>11 Oct - 12 Dic    
                                        </div>
                                        <div class="tareaResponsable">
                                            <span class="round roundSmall">TH</span>
                                            <span class="round round-success roundSmall">MT</span>
                                        </div>
                                    </div>
                                </div>
                            </div> 
                            <div id="t4" class="tareas" draggable="true" ondragstart="drag(event)">
                                <div class="tarea" data-toggle="modal" data-target="#myTarea">
                                    Restructuración de clases principales 
                                    <div class="footerTarea">
                                        <div class="periodo">
                                            <i class="fa fa-clock-o m-r-10" aria-hidden="true"></i>04 Sep - 19 Dic    
                                        </div>
                                        <div class="tareaResponsable">
                                            <span class="round roundSmall">TH</span>
                                            <span class="round round-success roundSmall">MT</span>
                                            <span class="round round-primary roundSmall">CP</span>
                                            <span class="round round-warning roundSmall">CS</span>
                                            <span class="round round-danger roundSmall">AS</span>
                                        </div>
                                    </div>
                                </div>
                            </div> 
                        </div>
                        <div class="estado" id="realiza" ondrop="drop(event)" ondragover="allowDrop(event)">
                            <div id="t5" class="tareas" draggable="true" ondragstart="drag(event)">
                                <div class="tarea" data-toggle="modal" data-target="#myTarea">
                                    Desarrollo de clases de credito y prestamo para tramites por titular y beneficiario.
                                    <div class="footerTarea">
                                        <div class="periodo">
                                            <i class="fa fa-clock-o m-r-10" aria-hidden="true"></i>04 Sep - 19 Dic    
                                        </div>
                                        <div class="tareaResponsable">
                                            <span class="round roundSmall">TH</span>
                                            <span class="round round-warning roundSmall">CS</span>
                                            <span class="round round-danger roundSmall">AS</span>
                                        </div>
                                    </div>
                                </div>
                            </div> 
                            <div id="t6" class="tareas" draggable="true" ondragstart="drag(event)">
                                <div class="tarea" data-toggle="modal" data-target="#myTarea">
                                    Estructuracion de metodos en tramites realizados por beneficiarios.
                                    <div class="footerTarea">
                                        <div class="periodo">
                                            <i class="fa fa-clock-o m-r-10" aria-hidden="true"></i>04 Sep - 19 Dic    
                                        </div>
                                        <div class="tareaResponsable">
                                            <span class="round roundSmall">TH</span>
                                            <span class="round round-primary roundSmall">CP</span>
                                            <span class="round round-danger roundSmall">AS</span>
                                        </div>
                                    </div>
                                </div>
                            </div> 
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>