<app-maincontainer>
  <div>
    <div class="main-content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <div class="header">
                            <div class="header_left">
                            <h4 class="title">Incidencias</h4>
                            </div>
                        </div>
                        <div class="content table-responsive table-full-width"> <br/>
                            <table id="myTable" class="table table-hover table-striped">
                                <thead>
                                    <tr id="forFilters">
                                        <th>Archivo</th>
                                        <th>Linea</th>
                                        <th>Tipo</th>
                                        <th>Severidad</th>
                                        <th>Incidencia</th> 
                                        <th>Asignar</th> 
                                    </tr>
                                </thead>
                                <tbody *ngIf="bodyIssues!=undefined">
                                    <tr *ngFor="let row of bodyIssues.issues; let i = index">
                                        <td>{{row.component}}</td>
                                        <td>{{row.line}}</td>
                                        <td>{{row.type}}</td>
                                        <td>{{row.severity}}</td>
                                        <td class="mensaje_issue">{{row.message}}</td>
                                        <td><button class="btn btn-simple btn-icon" (click)="asignarIssue(row)" data-toggle="modal" data-dismiss="modal" data-target="#newTarea"><i class="fa fa-user-circle"></i></button></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<app-homework (homeworkEvent)="elementoGuardado()"></app-homework>
<div class="loader" *ngIf="blockLoader"></div>
</app-maincontainer>