<app-maincontainer>
<div class="main-content">
  <div class="container-fluid">
      <div class="row">
          <div class="col-md-12">
              <div class="card">
                  <div class="header">
                    <div class="header_left">
                      <h4 class="title">Compras</h4>
                      <p class="category"> Todas las descargas realizadas apareceran en esta sección.</p>
                    </div>
                  </div>
                  <div class="content table-responsive table-full-width"> 
                    <table id="myTable" class="table table-hover table-striped">
                            <thead>
                                <tr>
                                    <th>ID</th>
                                    <th>Nombre</th>
                                    <th>Fecha de Compra</th>
                                    <th>Estatus</th>
                                    <th>Precio Comprado</th>                                
                                    <th>Ver</th>                                
                                    <th>Análisis</th>                                
                                    <th>Bugs</th>                                
                                </tr>
                            </thead>
                        <tbody>
                            <tr *ngFor="let row of buys; let i = index">
                                <td>{{i+1}}</td>
                                <td>{{row.proyect.title}}</td>
                                <td style="text-align:center">{{row.fechaCreacion | date:'mediumDate'}}</td>
                                <td style="text-align:center">{{row.proyect.status}}</td>
                                <td style="text-align:center"><span *ngIf="row.price!=undefined">${{row.proyect.price}} YP</span></td>
                                <td style="text-align:center"><button class="btn btn-simple btn-icon" (click)="verDetalle(row.proyect.id)"><i class="fa fa-eye"></i></button></td>
                                <td style="text-align:center"><button class="btn btn-simple btn-icon" (click)="verGraficas(row.proyect.id)"><i class="fa fa-line-chart"></i></button></td>
                                <td style="text-align:center"><button *ngIf="row.sonar" class="btn btn-simple btn-icon" (click)="verIssues(row.proyect.id)"><i class="fa fa-bug"></i></button><button *ngIf="!row.sonar" class="btn btn-simple btn-icon" disabled><i class="fa fa-bug"></i></button></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
              </div>
          </div>
      </div>
  </div>
</div>
<div class="loader" *ngIf="blockLoader"></div>
</app-maincontainer>